<?xml version="1.0"?>
<!-- 
 /**
 * @category  Dinesh HyvaFrequentlyBought
 * @package   Dinesh_HyvaFrequentlyBought
 * @copyright Copyright (c) 2023 Magento
 * @author    Dinesh Team <support@dinesh.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dinesh_HyvaFrequentlyBought" setup_version="2.0.6">
        <sequence>
            <module name="Dinesh_FrequentlyBought"/>
            <module name="Hyva_CompatModuleFallback"/>
        </sequence>
    </module>
</config>
