<?xml version="1.0"?>
<!--
/**
* @category  Mageants FrequentlyBought
* @package   Mageants_FrequentlyBought
* @copyright Copyright (c) 2017 Mageants
* @author    Mageants Team <support@mageants.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!-- you can change this event name -->
  <event name="layout_load_before"> 
    <observer name="fbt_block_position" instance="Mageants\FrequentlyBought\Observer\SetBlockPosition" />
  </event>
</config>